ul.social-networking{
  list-style: none;
  padding: 0;

}
ul.social-networking li{
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa{
  font-size: 35pt;
  color: black;
  padding: 10px;
}
.fa-instagram:hover{
  color: rgb(182, 68, 87);
}
.fa-facebook-square:hover{
  color:blue;
}
.fa-linkedin:hover{
  color: blue;

}
